* {
  box-sizing: border-box;
  background-color: #E6EBE0;
  color: black;
}

.App {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 600px; 
  height: 800px;
  transition: width 3s, height 3s, transform 3s;
  -webkit-transition: width 3s, height 3s, -webkit-transform 3s;
}

.emoji {
  display: flex;
  height: 100px;
  width: 100px;
  font-size: 75px;
  justify-content: center;
  background: none;
}

.slider {
  cursor: pointer;
  
}
.playground {
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid black 1px;
  width: 500px;
  height: 500px;
}

.inputs {
  margin: 10px;
}

button {
  height: 100px;
  width: 100px;
  font-size: 30px;
  border: none;
  
}

.buttons {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
